*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@font-face {
  font-family: 'roboto';
  font-weight: 100;
  src: url('../assets/roboto-light.woff2');
}

@font-face {
  font-family: 'roboto';
  font-weight: 200;
  src: url('../assets/roboto-regular.woff2');
}

@font-face {
  font-family: 'roboto';
  font-weight: 300;
  src: url('../assets/roboto-bold.woff2');
}

h1,
h2,
h3,
h4,
p,
a,
li {
  font-family: 'roboto';
}
