// BREAKPOINTS
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// COLOR VARIABLES

$black: #000000;
$white: #ffffff;
$frame-color: rgb(43, 45, 65);
$screen-color: rgb(81, 81, 88);
$side-color: rgb(112, 118, 155);
$bg-color: rgb(7, 4, 0);
$star-color: rgb(255, 250, 224);

$outline-tv: 2.5px solid $black;
$box-shadow-tv: 0.6rem 0.6rem lighten($frame-color, 20%);
