// BREAKPOINTS
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// COLOR VARIABLES

$black: #000000;
$white: #ffffff;
$frame-color: rgb(48, 39, 28);
$screen-color: rgb(7, 4, 0);

$planet-img-box-shadow: #aeaaa581;

$planet-one-primary: #aeaaa5;
$planet-one-secondary: #91857a;

$planet-two-primary: #68d4de;
$planet-two-secondary: #4faab4;

$planet-three-primary: #e14a31;
$planet-three-secondary: #ac3829;

$planet-four-primary: #ce916d;
$planet-four-secondary: #af7551;

$planet-five-primary: #f2e5aa;
$planet-five-secondary: #ead46f;

$planet-six-primary: #efa68f;
$planet-six-secondary: #db9882;

$font-size-small: 0.9rem;
$font-size-regular: 1rem;
$font-size-large: 1.1rem;

$base-transition: 0.5s ease-out;
