// BREAKPOINTS
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// COLOR VARIABLES

$black: #000000;
$white: #ffffff;
$frame-color: rgb(48, 39, 28);
$screen-color: rgb(7, 4, 0);

$planet-one-primary: #aeaaa5;
$planet-one-secondary: #91857a;

$planet-two-primary: #68d4de;
$planet-two-secondary: #5fc1cc;

$font-size-small: 0.9rem;
$font-size-regular: 1rem;
$font-size-large: 1.1rem;
