.phase {
    &.childhood,
    &.teen,
    &.horsin-around,
    &.biography,
    &.secretariat,
    &.philbert {
        position: absolute;
        top: 0;
        z-index: 130;
        width: 80%;
        height: 80%;
        transform: translate(-100vw, -100vh);
        opacity: 0;
        transition: 2s ease-out;

        &.shown {
            transform: translate(0, 0);
            opacity: 1;

            > section {
                > section:first-of-type {
                    img {
                        opacity: 1;
                    }
                }
            }
        }

        > section {
            position: relative;
            transform: translate(10%, 40vh);

            > section:first-of-type {
                top: -9rem;
                display: flex;
                justify-content: center;

                img {
                    position: absolute;
                    width: 20rem;
                    height: 8rem;
                    object-fit: cover;
                    border-radius: 1rem;
                    opacity: 0;
                    transition: var(--base-transition);

                    &:not(:hover) {
                        transition: 2s ease-out;
                    }

                    &:first-of-type {
                        top: -9rem;
                        left: 0;
                        animation: floating-images 5s infinite linear;

                        &:not(:hover) {
                            transition-delay: 1.5s;
                        }
                    }

                    &:nth-of-type(2) {
                        top: -16rem;
                        animation: floating-images 5s -1.67s infinite linear;

                        &:not(:hover) {
                            transition-delay: 1.75s;
                        }
                    }

                    &:nth-of-type(3) {
                        top: -9rem;
                        right: 0;
                        animation: floating-images 5s -3.34s infinite linear;

                        &:not(:hover) {
                            transition-delay: 2s;
                        }
                    }

                    &:hover {
                        animation-play-state: paused;
                        scale: 1.5;
                        transition-delay: 0;
                    }
                }
            }

            > section:last-of-type {
                margin-top: 1rem;
                padding: 2rem;
                background-color: var(--screen-color);
                outline: 1rem solid var(--screen-color);
                border-radius: 1rem;

                h2 {
                    position: absolute;
                    text-transform: uppercase;
                    color: transparent;

                    &::before {
                        content: attr(data-text);
                        position: absolute;
                        overflow: hidden;
                        animation-delay: 2s;
                        width: 0;
                    }
                }

                ul {
                    padding-top: 2rem;
                    list-style-position: inside;
                    list-style-type: square;

                    li {
                        padding: 0.5rem 0;
                    }
                }
            }
        }
    }

    &.childhood {
        > section {
            > section:last-of-type {
                border: 2px solid var(--planet-one-secondary);

                h2 {
                    &::before {
                        border-bottom: 2px solid var(--planet-one-secondary);
                        color: var(--planet-one-secondary);
                        animation: type 2s steps(9) forwards;
                    }
                }

                ul {
                    li {
                        color: var(--planet-one-primary);

                        &::selection {
                            background-color: var(--planet-one-primary);
                            color: var(--screen-color);
                        }
                    }
                }
            }
        }
    }

    &.teen {
        > section {
            > section:last-of-type {
                border: 2px solid var(--planet-two-secondary);

                h2 {
                    &::before {
                        border-bottom: 2px solid var(--planet-two-secondary);
                        color: var(--planet-two-secondary);
                        animation: type 2s steps(8) forwards;
                    }
                }

                ul {
                    li {
                        color: var(--planet-two-primary);

                        &::selection {
                            background-color: var(--planet-two-primary);
                            color: var(--screen-color);
                        }
                    }
                }
            }
        }
    }

    &.horsin-around {
        > section {
            > section:last-of-type {
                border: 2px solid var(--planet-three-secondary);

                h2 {
                    &::before {
                        border-bottom: 2px solid var(--planet-three-secondary);
                        color: var(--planet-three-secondary);
                        animation: type 2s steps(12) forwards;
                    }
                }

                ul {
                    li {
                        color: var(--planet-three-primary);

                        &::selection {
                            background-color: var(--planet-three-primary);
                            color: var(--screen-color);
                        }
                    }
                }
            }
        }
    }

    &.biography {
        > section {
            > section:last-of-type {
                border: 2px solid var(--planet-four-secondary);

                h2 {
                    &::before {
                        border-bottom: 2px solid var(--planet-four-secondary);
                        color: var(--planet-four-secondary);
                        animation: type 2s steps(9) forwards;
                    }
                }

                ul {
                    li {
                        color: var(--planet-four-primary);

                        &::selection {
                            background-color: var(--planet-four-primary);
                            color: var(--screen-color);
                        }
                    }
                }
            }
        }
    }

    &.secretariat {
        > section {
            > section:last-of-type {
                border: 2px solid var(--planet-five-secondary);

                h2 {
                    &::before {
                        border-bottom: 2px solid var(--planet-five-secondary);
                        color: var(--planet-five-secondary);
                        animation: type 2s steps(11) forwards;
                    }
                }

                ul {
                    li {
                        color: var(--planet-five-primary);

                        &::selection {
                            background-color: var(--planet-five-primary);
                            color: var(--screen-color);
                        }
                    }
                }
            }
        }
    }

    &.philbert {
        > section {
            > section:last-of-type {
                border: 2px solid var(--planet-six-secondary);

                h2 {
                    &::before {
                        border-bottom: 2px solid var(--planet-six-secondary);
                        color: var(--planet-six-secondary);
                        animation: type 2s steps(8) forwards;
                    }
                }

                ul {
                    li {
                        color: var(--planet-six-primary);

                        &::selection {
                            background-color: var(--planet-six-primary);
                            color: var(--screen-color);
                        }
                    }
                }
            }
        }
    }
}
