#television {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    background-color: #e5e5f7;
    background-image: linear-gradient(
        45deg,
        $frame-color 50%,
        darken($frame-color, 3%) 50%
    );
    background-size: 0.5rem 1rem;

    .screen {
        width: 80%;
        height: 90%;
        background-color: $screen-color;
        transform: translate(4%, 5%);
        border-radius: 1rem;
        overflow: hidden;

        #particles-js {
            width: 100%;
            height: 100%;
            z-index: 10;
        }

        svg {
            z-index: 100;
            position: absolute;
            bottom: 0;
            animation: bojack-glow 5s infinite;
        }

        .planets {
            position: relative;
            width: 100%;
            height: 100%;

            button {
                width: auto;
                position: absolute;
                border: none;
                background-color: transparent;
                cursor: pointer;
                z-index: 100;
                transition: $base-transition;

                &:first-of-type {
                    height: 10%;
                    transform: translate(2vw, 20vh);

                    img {
                        animation-delay: -1s;
                    }

                    &.clicked {
                        scale: 2;
                        z-index: 150;
                        transform: translate(-3vw, 0vh) rotate(360deg);

                        img {
                            scale: 2;
                            animation: none;
                        }
                    }
                }

                &:nth-of-type(2) {
                    height: 9%;
                    transform: translate(15vw, 30vh);

                    img {
                        animation-delay: -2.5s;
                    }

                    &.clicked {
                        scale: 2;
                        z-index: 150;
                        transform: translate(-3vw, 0vh) rotate(360deg);

                        img {
                            scale: 2;
                            animation: none;
                        }
                    }
                }

                &:nth-of-type(3) {
                    height: 13%;
                    transform: translate(25vw, 15vh);

                    img {
                        animation-delay: -0.7s;
                    }

                    &.clicked {
                        scale: 2;
                        z-index: 150;
                        transform: translate(-3vw, 0vh) rotate(360deg);

                        img {
                            scale: 2;
                            animation: none;
                        }
                    }
                }

                &:nth-of-type(4) {
                    height: 10%;
                    transform: translate(38vw, 35vh);

                    img {
                        animation-delay: 3s;
                    }

                    &.clicked {
                        scale: 2;
                        z-index: 150;
                        transform: translate(-3vw, 0vh) rotate(360deg);

                        img {
                            scale: 2;
                            animation: none;
                        }
                    }
                }

                &:nth-of-type(5) {
                    height: 12%;
                    transform: translate(45vw, 20vh);

                    img {
                        animation-delay: -5.4s;
                    }

                    &.clicked {
                        scale: 2;
                        z-index: 150;
                        transform: translate(-3vw, 0vh) rotate(360deg);

                        img {
                            scale: 2;
                            animation: none;
                        }
                    }
                }

                &:nth-of-type(6) {
                    height: 12%;
                    transform: translate(67vw, 30vh);

                    img {
                        animation-delay: -4.2s;
                    }

                    &.clicked {
                        scale: 2;
                        z-index: 150;
                        transform: translate(-3vw, 0vh) rotate(360deg);

                        img {
                            scale: 2;
                            animation: none;
                        }
                    }
                }

                img {
                    height: 100%;
                    width: auto;
                    animation: space-wobble 6s infinite linear;
                    transition: 0.5s ease-out;
                }

                &:hover {
                    img {
                        animation-play-state: paused;
                        scale: 1.1;
                    }
                }
            }
        }

        .video-wrapper {
            display: flex;
            justify-content: center;

            video {
                height: 100%;
                position: absolute;
                width: auto;
                top: 0;
                z-index: 300;
                display: none;

                &.visible {
                    display: block;
                }
            }
        }
    }

    .side {
        width: 12.5%;
        height: 90%;
        transform: translate(-10%, 20%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2.5%;

        button {
            aspect-ratio: 1;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            transition: $base-transition;
            box-shadow: 0 0.15rem 0.1rem lighten($frame-color, 20%);

            &:hover {
                box-shadow: 0 0.35rem 0.3rem lighten($frame-color, 30%);
            }

            &::before {
                content: '';
                width: 50%;
                position: absolute;
                right: 0;
                height: 3px;
                background-color: lighten($frame-color, 40%);
                transform-origin: left;
                transition: 1s ease-out;
                border-bottom: 1px dotted lighten($frame-color, 20%);
            }

            &:first-of-type {
                background-color: darken($frame-color, 11%);
                width: 90%;

                @media (min-width: $lg) {
                    width: 70%;
                }

                @media (min-width: $xl) {
                    width: 50%;
                }
            }

            &.video-button {
                background-color: darken($frame-color, 7%);
                width: 90%;

                &::before {
                    display: none;
                }

                @media (min-width: $lg) {
                    width: 70%;
                }

                @media (min-width: $xl) {
                    width: 50%;
                }
            }

            &.audio-button {
                width: 50%;
                transform: translateY(100%);
                background-color: darken($frame-color, 11%);

                @media (min-width: $lg) {
                    width: 40%;
                }

                @media (min-width: $xl) {
                    width: 30%;
                }

                &.audio-1 {
                    &::before {
                        transform: rotate(120deg);
                    }
                }

                &.audio-2 {
                    &::before {
                        transform: rotate(240deg);
                    }
                }
            }
        }

        .speaker {
            position: absolute;
            right: 0;
            bottom: 18%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 20%;
            width: 100%;

            &.playing {
                div {
                    animation: speaker 2s linear infinite;
                }
            }

            div {
                width: 100%;
                height: 4px;
                background-color: darken($frame-color, 11%);
                border-radius: 1rem;

                &:nth-of-type(2) {
                    animation-delay: -0.2s;
                }

                &:nth-of-type(3) {
                    animation-delay: -0.8s;
                }

                &:nth-of-type(4) {
                    animation-delay: -0.4s;
                }

                &:nth-of-type(5) {
                    animation-delay: -0.8s;
                }

                &:nth-of-type(6) {
                    animation-delay: -0.2s;
                }

                &:nth-of-type(7) {
                    animation-delay: -0.4s;
                }

                &:nth-of-type(8) {
                    animation-delay: -0.8s;
                }

                &:nth-of-type(9) {
                    animation-delay: 0s;
                }

                &:nth-of-type(10) {
                    animation-delay: -0.2s;
                }
            }
        }
    }
}

@keyframes speaker {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(0.5);
    }

    100% {
        transform: scaleX(1);
    }
}
