#television {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #e5e5f7;
    background-image: linear-gradient(
        45deg,
        var(--frame-color) 50%,
        var(--frame-color-5-darker) 50%
    );
    background-size: 0.5rem 1rem;
    justify-content: space-between;
    overflow: hidden;

    .screen {
        width: 80%;
        height: 90%;
        background-color: var(--screen-color);
        border-radius: 1rem;
        overflow: hidden;
        transform: translate(4%, 5%);

        #particles-js {
            z-index: 10;
            width: 100%;
            height: 100%;
        }

        svg {
            position: absolute;
            bottom: 0;
            z-index: 100;
            animation: bojack-glow 5s infinite;
        }

        .video-wrapper {
            display: flex;
            justify-content: center;

            video {
                position: absolute;
                top: 0;
                z-index: 300;
                display: none;
                width: auto;
                height: 100%;

                &.visible {
                    display: block;
                }
            }
        }
    }

    .side {
        display: flex;
        width: 12.5%;
        height: 90%;
        gap: 2.5%;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        transform: translate(-10%, 20%);

        button {
            position: relative;
            border: none;
            border-radius: 50%;
            aspect-ratio: 1;
            box-shadow: 0 0.15rem 0.1rem var(--frame-color-20-lighter);
            cursor: pointer;
            overflow: hidden;
            transition: var(--base-transition);

            @media (prefers-reduced-motion) {
                transition: none;
            }

            &:hover {
                box-shadow: 0 0.35rem 0.3rem var(--frame-color-30-lighter);
            }

            &.trip-button {
                width: 90%;
                background-color: var(--frame-color-10-darker);

                &.clicked {
                    background-color: var(--frame-color-20-darker);
                    border: 2px dotted var(--frame-color-20-lighter);
                }

                @media (min-width: $lg) {
                    width: 70%;
                }

                @media (min-width: $xl) {
                    width: 50%;
                }
            }

            &.video-button {
                width: 90%;
                background-color: var(--frame-color-7-darker);

                &.clicked {
                    background-color: var(--frame-color-15-darker);
                    border: 2px dotted var(--frame-color-30-lighter);
                }

                @media (min-width: $lg) {
                    width: 70%;
                }

                @media (min-width: $xl) {
                    width: 50%;
                }
            }

            &.audio-button {
                width: 50%;
                background-color: var(--frame-color-10-darker);
                transform: translateY(100%);

                @media (min-width: $lg) {
                    width: 40%;
                }

                @media (min-width: $xl) {
                    width: 30%;
                }

                &::before {
                    position: absolute;
                    right: 0;
                    width: 50%;
                    height: 3px;
                    background-color: var(--frame-color-40-lighter);
                    border-bottom: 1px dotted var(--frame-color-20-lighter);
                    content: '';
                    transform-origin: left;
                    transition: 1s ease-out;

                    @media (prefers-reduced-motion) {
                        transition: none;
                    }
                }

                &.audio-1 {
                    &::before {
                        transform: rotate(72deg);
                    }
                }

                &.audio-2 {
                    &::before {
                        transform: rotate(144deg);
                    }
                }

                &.audio-3 {
                    &::before {
                        transform: rotate(216deg);
                    }
                }

                &.audio-4 {
                    &::before {
                        transform: rotate(288deg);
                    }
                }
            }
        }

        .speaker {
            position: absolute;
            right: 0;
            bottom: 18%;
            display: flex;
            width: 100%;
            height: 20%;
            flex-direction: column;
            justify-content: space-around;

            &.playing {
                div {
                    animation: speaker 2s linear infinite;

                    @media (prefers-reduced-motion) {
                        animation: none;
                    }
                }
            }

            div {
                width: 100%;
                height: 4px;
                background-color: var(--frame-color-10-darker);
                border-radius: 1rem;

                &:nth-of-type(2) {
                    animation-delay: -0.2s;
                }

                &:nth-of-type(3) {
                    animation-delay: -0.8s;
                }

                &:nth-of-type(4) {
                    animation-delay: -0.4s;
                }

                &:nth-of-type(5) {
                    animation-delay: -0.8s;
                }

                &:nth-of-type(6) {
                    animation-delay: -0.2s;
                }

                &:nth-of-type(7) {
                    animation-delay: -0.4s;
                }

                &:nth-of-type(8) {
                    animation-delay: -0.8s;
                }

                &:nth-of-type(9) {
                    animation-delay: 0s;
                }

                &:nth-of-type(10) {
                    animation-delay: -0.2s;
                }
            }
        }
    }
}
