//   code inspiration for patterns https://www.magicpattern.design/tools/css-backgrounds

#television {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform: scale(1.1);

    .tv {
        position: relative;

        .top {
            // .antenna-straight {
            //     width: 0;
            //     height: 0;
            //     border-left: 0.35rem solid transparent;
            //     border-right: 0.35rem solid transparent;
            //     border-bottom: 12rem solid lighten($screen-color, 30%);
            //     position: absolute;
            //     top: -8rem;
            //     left: 17rem;
            //     transform: rotate(-20deg);
            // }

            .bubble-container {
                width: 7rem;
                aspect-ratio: 2/1;
                background-color: darken($frame-color, 10%);
                border-radius: 10rem 10rem 0 0;
                position: relative;
                top: 0;
                outline: $outline-tv;
                left: calc(50% - 3.5rem);
                overflow: hidden;

                .bubble {
                    position: absolute;
                    background-color: $frame-color;
                    border-radius: 50%;
                    width: 8rem;
                    aspect-ratio: 1;
                    left: -1.5rem;
                    bottom: -0.75rem;
                }
            }
        }

        .frame {
            position: relative;
            width: 40rem;
            background-color: $frame-color;
            border-radius: 1.5rem;
            aspect-ratio: 1.5/1;
            outline: $outline-tv;
            box-shadow: inset $box-shadow-tv;

            .screen,
            .side {
                position: absolute;
                top: 3.5rem;
                height: 23rem;
                top: 2rem;
                border-radius: 1.5rem;
                outline: $outline-tv;
            }

            .screen {
                position: relative;
                width: 63%;
                background-color: $screen-color;
                left: 2rem;
                overflow: hidden;
                box-shadow: $box-shadow-tv;

                &::before,
                &::after {
                    content: '';
                    border-radius: 50%;
                    background-color: lighten($screen-color, 40%);
                    aspect-ratio: 1/1.5;
                    position: absolute;
                    transform: rotate(40deg);
                    z-index: -100;
                }

                &::before {
                    top: 7%;
                    left: 20%;
                    width: 3rem;
                }

                &::after {
                    top: 28%;
                    left: 10%;
                    width: 1.5rem;
                }

                .bubble {
                    position: absolute;
                    border-radius: 50%;
                    width: 50rem;
                    aspect-ratio: 1;
                    background-color: lighten($screen-color, 30%);
                    bottom: 5rem;
                    left: -17rem;
                    outline: $outline-tv;
                    z-index: -100;
                }
            }

            .side {
                width: 23%;
                background-color: $side-color;
                right: 2rem;
                box-shadow: $box-shadow-tv;
            }
        }

        .bottom {
            position: relative;

            &::before,
            &::after {
                content: '';
                width: 3.25rem;
                aspect-ratio: 2.5/1;
                background-color: $screen-color;
                outline: $outline-tv;
                position: absolute;
                top: 3px;
            }

            &::before {
                left: 10%;
            }

            &::after {
                right: 10%;
            }
        }
    }
}
