*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

@font-face {
  font-family: 'mono';
  font-weight: 100;
  src: url("../assets/mono-light.woff2");
}

@font-face {
  font-family: 'mono';
  font-weight: 200;
  src: url("../assets/mono-bold.woff2");
}

h1,
h2,
h3,
h4,
p,
a,
li {
  font-family: 'mono', monospace;
}

@-webkit-keyframes space-wobble {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes space-wobble {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes bojack-glow {
  0% {
    -webkit-filter: drop-shadow(0 0 2.5rem rgba(255, 244, 217, 0.13));
            filter: drop-shadow(0 0 2.5rem rgba(255, 244, 217, 0.13));
  }
  50% {
    -webkit-filter: drop-shadow(0 0 3rem rgba(255, 244, 217, 0.18));
            filter: drop-shadow(0 0 3rem rgba(255, 244, 217, 0.18));
  }
  100% {
    -webkit-filter: drop-shadow(0 0 2.5rem rgba(255, 244, 217, 0.13));
            filter: drop-shadow(0 0 2.5rem rgba(255, 244, 217, 0.13));
  }
}

@keyframes bojack-glow {
  0% {
    -webkit-filter: drop-shadow(0 0 2.5rem rgba(255, 244, 217, 0.13));
            filter: drop-shadow(0 0 2.5rem rgba(255, 244, 217, 0.13));
  }
  50% {
    -webkit-filter: drop-shadow(0 0 3rem rgba(255, 244, 217, 0.18));
            filter: drop-shadow(0 0 3rem rgba(255, 244, 217, 0.18));
  }
  100% {
    -webkit-filter: drop-shadow(0 0 2.5rem rgba(255, 244, 217, 0.13));
            filter: drop-shadow(0 0 2.5rem rgba(255, 244, 217, 0.13));
  }
}

#television {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e5e5f7;
  background-image: linear-gradient(45deg, #30271c 50%, #261f16 50%);
  background-size: 0.5rem 1rem;
}

#television .screen {
  width: 80%;
  height: 90%;
  background-color: #070400;
  -webkit-transform: translate(4%, 5%);
          transform: translate(4%, 5%);
  border-radius: 1rem;
  overflow: hidden;
}

#television .screen #particles-js {
  width: 100%;
  height: 100%;
  z-index: 10;
}

#television .screen svg {
  z-index: 100;
  position: absolute;
  bottom: 0;
  -webkit-animation: bojack-glow 5s infinite;
          animation: bojack-glow 5s infinite;
}

#television .screen .planets {
  position: relative;
  width: 100%;
  height: 100%;
}

#television .screen .planets button {
  width: auto;
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#television .screen .planets button:first-of-type {
  height: 10%;
  -webkit-transform: translate(2vw, 20vh);
          transform: translate(2vw, 20vh);
}

#television .screen .planets button:first-of-type img {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

#television .screen .planets button:first-of-type.clicked {
  scale: 2;
  z-index: 150;
  -webkit-transform: translate(-3vw, 0vh) rotate(360deg);
          transform: translate(-3vw, 0vh) rotate(360deg);
}

#television .screen .planets button:first-of-type.clicked:hover {
  -webkit-transform: translate(-2vw, 1vh) rotate(360deg);
          transform: translate(-2vw, 1vh) rotate(360deg);
}

#television .screen .planets button:first-of-type.clicked img {
  scale: 2;
  -webkit-animation: none;
          animation: none;
}

#television .screen .planets button:nth-of-type(2) {
  height: 9%;
  -webkit-transform: translate(15vw, 30vh);
          transform: translate(15vw, 30vh);
}

#television .screen .planets button:nth-of-type(2) img {
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}

#television .screen .planets button:nth-of-type(2).clicked {
  scale: 2;
  z-index: 150;
  -webkit-transform: translate(-3vw, 0vh) rotate(360deg);
          transform: translate(-3vw, 0vh) rotate(360deg);
}

#television .screen .planets button:nth-of-type(2).clicked:hover {
  -webkit-transform: translate(-2vw, 1vh) rotate(360deg);
          transform: translate(-2vw, 1vh) rotate(360deg);
}

#television .screen .planets button:nth-of-type(2).clicked img {
  scale: 2;
  -webkit-animation: none;
          animation: none;
}

#television .screen .planets button:nth-of-type(3) {
  height: 13%;
  -webkit-transform: translate(25vw, 15vh);
          transform: translate(25vw, 15vh);
}

#television .screen .planets button:nth-of-type(3) img {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

#television .screen .planets button:nth-of-type(3).clicked {
  scale: 2;
  z-index: 150;
  -webkit-transform: translate(-3vw, 0vh) rotate(360deg);
          transform: translate(-3vw, 0vh) rotate(360deg);
}

#television .screen .planets button:nth-of-type(3).clicked:hover {
  -webkit-transform: translate(-2vw, 1vh) rotate(360deg);
          transform: translate(-2vw, 1vh) rotate(360deg);
}

#television .screen .planets button:nth-of-type(3).clicked img {
  scale: 2;
  -webkit-animation: none;
          animation: none;
}

#television .screen .planets button:nth-of-type(4) {
  height: 10%;
  -webkit-transform: translate(38vw, 35vh);
          transform: translate(38vw, 35vh);
}

#television .screen .planets button:nth-of-type(4) img {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

#television .screen .planets button:nth-of-type(4).clicked {
  scale: 2;
  z-index: 150;
  -webkit-transform: translate(-3vw, 0vh) rotate(360deg);
          transform: translate(-3vw, 0vh) rotate(360deg);
}

#television .screen .planets button:nth-of-type(4).clicked:hover {
  -webkit-transform: translate(-2vw, 1vh) rotate(360deg);
          transform: translate(-2vw, 1vh) rotate(360deg);
}

#television .screen .planets button:nth-of-type(4).clicked img {
  scale: 2;
  -webkit-animation: none;
          animation: none;
}

#television .screen .planets button:nth-of-type(5) {
  height: 12%;
  -webkit-transform: translate(45vw, 20vh);
          transform: translate(45vw, 20vh);
}

#television .screen .planets button:nth-of-type(5) img {
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
}

#television .screen .planets button:nth-of-type(5).clicked {
  scale: 2;
  z-index: 150;
  -webkit-transform: translate(-3vw, 0vh) rotate(360deg);
          transform: translate(-3vw, 0vh) rotate(360deg);
}

#television .screen .planets button:nth-of-type(5).clicked:hover {
  -webkit-transform: translate(-2vw, 1vh) rotate(360deg);
          transform: translate(-2vw, 1vh) rotate(360deg);
}

#television .screen .planets button:nth-of-type(5).clicked img {
  scale: 2;
  -webkit-animation: none;
          animation: none;
}

#television .screen .planets button:nth-of-type(6) {
  height: 12%;
  -webkit-transform: translate(67vw, 30vh);
          transform: translate(67vw, 30vh);
}

#television .screen .planets button:nth-of-type(6) img {
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
}

#television .screen .planets button:nth-of-type(6).clicked {
  scale: 2;
  z-index: 150;
  -webkit-transform: translate(-3vw, 0vh) rotate(360deg);
          transform: translate(-3vw, 0vh) rotate(360deg);
}

#television .screen .planets button:nth-of-type(6).clicked:hover {
  -webkit-transform: translate(-2vw, 1vh) rotate(360deg);
          transform: translate(-2vw, 1vh) rotate(360deg);
}

#television .screen .planets button:nth-of-type(6).clicked img {
  scale: 2;
  -webkit-animation: none;
          animation: none;
}

#television .screen .planets button img {
  height: 100%;
  width: auto;
  -webkit-animation: space-wobble 6s infinite linear;
          animation: space-wobble 6s infinite linear;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

#television .screen .planets button:hover img {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  scale: 1.1;
}

#television .side {
  width: 12.5%;
  height: 90%;
  -webkit-transform: translate(-10%, 5%);
          transform: translate(-10%, 5%);
}

#television .side button {
  width: 90%;
  aspect-ratio: 1;
  background-color: #100d09;
  border: none;
  border-radius: 50%;
}

#television .side button:first-of-type {
  -webkit-transform: translateY(90%);
          transform: translateY(90%);
}

#television .side button:last-of-type {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.childhood {
  position: absolute;
  z-index: 130;
  width: 80%;
  height: 80%;
}

.childhood > section {
  position: relative;
  -webkit-transform: translate(10%, 40vh);
          transform: translate(10%, 40vh);
}

.childhood > section > section:first-of-type {
  top: -9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.childhood > section > section:first-of-type img {
  position: absolute;
  width: 20rem;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.childhood > section > section:first-of-type img:first-of-type {
  top: -9rem;
  left: 0;
  -webkit-animation: floating-images 5s infinite linear;
          animation: floating-images 5s infinite linear;
}

.childhood > section > section:first-of-type img:nth-of-type(2) {
  top: -16rem;
  -webkit-animation: floating-images 5s -1.67s infinite linear;
          animation: floating-images 5s -1.67s infinite linear;
}

.childhood > section > section:first-of-type img:nth-of-type(3) {
  top: -9rem;
  right: 0;
  -webkit-animation: floating-images 5s -3.34s infinite linear;
          animation: floating-images 5s -3.34s infinite linear;
}

.childhood > section > section:last-of-type {
  margin-top: 1rem;
  padding: 2rem;
  background-color: #070400;
  outline: 1rem solid #070400;
  border: 2px solid #aeaaa5;
}

.childhood > section > section:last-of-type h2 {
  position: absolute;
  text-transform: uppercase;
  color: transparent;
}

.childhood > section > section:last-of-type h2::before {
  content: attr(data-text);
  position: absolute;
  border-bottom: 2px solid #aeaaa5;
  color: #aeaaa5;
  overflow: hidden;
  border-right: 1px solid #000;
  -webkit-animation: type 2s steps(9) forwards;
          animation: type 2s steps(9) forwards;
  white-space: nowrap;
}

.childhood > section > section:last-of-type ul {
  padding-top: 2rem;
}

.childhood > section > section:last-of-type ul li {
  color: #aeaaa5;
  padding: 0.5rem 0;
}

@-webkit-keyframes floating-images {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: 0 0 0.5rem #aeaaa581;
            box-shadow: 0 0 0.5rem #aeaaa581;
  }
  50% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    -webkit-box-shadow: 0 0 2rem #aeaaa581;
            box-shadow: 0 0 2rem #aeaaa581;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: 0 0 0.5rem #aeaaa581;
            box-shadow: 0 0 0.5rem #aeaaa581;
  }
}

@keyframes floating-images {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: 0 0 0.5rem #aeaaa581;
            box-shadow: 0 0 0.5rem #aeaaa581;
  }
  50% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    -webkit-box-shadow: 0 0 2rem #aeaaa581;
            box-shadow: 0 0 2rem #aeaaa581;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: 0 0 0.5rem #aeaaa581;
            box-shadow: 0 0 0.5rem #aeaaa581;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
/*# sourceMappingURL=style.css.map */