*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

@font-face {
  font-family: 'roboto';
  font-weight: 100;
  src: url("../assets/roboto-light.woff2");
}

@font-face {
  font-family: 'roboto';
  font-weight: 200;
  src: url("../assets/roboto-regular.woff2");
}

@font-face {
  font-family: 'roboto';
  font-weight: 300;
  src: url("../assets/roboto-bold.woff2");
}

h1,
h2,
h3,
h4,
p,
a,
li {
  font-family: 'roboto';
}

#television {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#television .tv {
  position: relative;
}

#television .tv .top .bubble-container {
  width: 7rem;
  aspect-ratio: 2/1;
  background-color: #171822;
  border-radius: 10rem 10rem 0 0;
  position: relative;
  top: 0;
  outline: 2.5px solid #000000;
  left: calc(50% - 3.5rem);
  overflow: hidden;
}

#television .tv .top .bubble-container .bubble {
  position: absolute;
  background-color: #2b2d41;
  border-radius: 50%;
  width: 8rem;
  aspect-ratio: 1;
  left: -1.5rem;
  bottom: -0.75rem;
}

#television .tv .frame {
  position: relative;
  width: 40rem;
  background-color: #2b2d41;
  border-radius: 1.5rem;
  aspect-ratio: 1.5/1;
  outline: 2.5px solid #000000;
  -webkit-box-shadow: inset 0.6rem 0.6rem #54587e;
          box-shadow: inset 0.6rem 0.6rem #54587e;
}

#television .tv .frame .screen,
#television .tv .frame .side {
  position: absolute;
  top: 3.5rem;
  height: 23rem;
  top: 2rem;
  border-radius: 1.5rem;
  outline: 2.5px solid #000000;
}

#television .tv .frame .screen {
  position: relative;
  width: 63%;
  background-color: #515158;
  left: 2rem;
  overflow: hidden;
  -webkit-box-shadow: 0.6rem 0.6rem #54587e;
          box-shadow: 0.6rem 0.6rem #54587e;
}

#television .tv .frame .screen::before, #television .tv .frame .screen::after {
  content: '';
  border-radius: 50%;
  background-color: #b8b8bd;
  aspect-ratio: 1/1.5;
  position: absolute;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  z-index: -100;
}

#television .tv .frame .screen::before {
  top: 7%;
  left: 20%;
  width: 3rem;
}

#television .tv .frame .screen::after {
  top: 28%;
  left: 10%;
  width: 1.5rem;
}

#television .tv .frame .screen .bubble {
  position: absolute;
  border-radius: 50%;
  width: 50rem;
  aspect-ratio: 1;
  background-color: #9d9da5;
  bottom: 5rem;
  left: -17rem;
  outline: 2.5px solid #000000;
  z-index: -100;
}

#television .tv .frame .side {
  width: 23%;
  background-color: #70769b;
  right: 2rem;
  -webkit-box-shadow: 0.6rem 0.6rem #54587e;
          box-shadow: 0.6rem 0.6rem #54587e;
}

#television .tv .bottom {
  position: relative;
}

#television .tv .bottom::before, #television .tv .bottom::after {
  content: '';
  width: 3.25rem;
  aspect-ratio: 2.5/1;
  background-color: #515158;
  outline: 2.5px solid #000000;
  position: absolute;
  top: 3px;
}

#television .tv .bottom::before {
  left: 10%;
}

#television .tv .bottom::after {
  right: 10%;
}

#content {
  position: relative;
  height: 100%;
}

#content svg {
  position: absolute;
  bottom: 0;
  -webkit-filter: drop-shadow(0px 0px 45px #d5dfff);
          filter: drop-shadow(0px 0px 45px #d5dfff);
}
/*# sourceMappingURL=style.css.map */